## Python Basics

There are different types of Programming language like Java, Python, and Javascript.
<br><br>

Every programming language contains something called either interpreter or compiler who converts human readiable code to machine code.

<h3>Interpreter</h3>converts source code to machine code line by line while <h3>Compiler</h3>converts whole source code to machine code all at once.

<b>Python</b> generally uses interpreter to execute the source code. Python in writtern in C programming languange i.e the interpreter used to execute the python code is written in C and is known as "cpython".
<br>
Java written interpreter for python is known as Jpython and it can also be used alternate to Cpython.

Python source code -> <b>Interpreter</b> -> Byte code -> <b>Cpython VM</b> -> machine code


- In strictly typed languages like python typecheck is strictly enforced whereas in loosely typed its not.

- Data types are of two types- mutable(list,set,dictionaries) and immutable(tuple).

- In python 0 means false, any other number means true(even -ves or decimals. Empty lists,tuples etc are also considered false.

- In python blocks are identified using indentations.

- '''  xyz  '''  should not be used as comments

<h4>Fundamental Datatypes in Pythons</h4>

1. int
2. float
3. bool 
4. str
5. list
6. tuple
7. set
8. dict

<h4>Custom datatypes </h4>

1. Classes

<h4>Specialized types

1. modules

<h4>Special Type

1. None

In [1]:
# Variables 
a = 46
b = 4.9
c = "Abhishek"
d = True
print(a, b, c, d)

46 4.9 Abhishek True

In [2]:
# type() Function - Return which type of data we are calling this function on
type(45)

int

In [3]:
type(c)

str

In [4]:
type(d)

bool

In [5]:
type(2/4)

float

In [6]:
print(20+1.6)
print(type(20+1.6)) # python automatically type cast int and float addition to float

21.6
<class 'float'>

In [7]:
# Mathamatical operations in python
print(2+3) # addition of 2 numbers
print(2-3) # substraction
print(2*3) # multiplication
print(2/3) # True division
print(6//4)# Floor division -> return the integer part of the division
print(2**3)# Exponentiation -> 2 raise to the power 3. 
print(6%4) # return the remainder after division

5
-1
6
0.6666666666666666
1
8
2

Python uses a order in which a operation is evaluated 
<br>
<b><i>PEMDAS - Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.

In [8]:
isinstance(int, object) # everything in python is a object

True

In [9]:
a = bool
isinstance(a, object) # everything in python is a object

True

In [10]:
a = "abc"   # #shows dynamic allocation - previous object which was pointed by a is cleared by garbage collection
isinstance(a, object) # everything in python is a object

True

In [11]:
# In python bool is derived from integer
# 0 means false, any other number means true(even -ves or decimals). Empty lists, tuples etc are also considered false.

a = True
b = 1
c = -8
d = 0
e = []
print(isinstance(a,bool))
print(isinstance(a, int))
print(bool(b), bool(c), bool(d), bool(e))

True
True
True True False False

## Math Functions

In [12]:
import math
print(round(3.6)) # round decimal number to nearest integer
print(abs(-60)) # return the absolute of a number
print(math.sqrt(4))# return the square root of the number
print(math.factorial(4)) # return the factorial of the number
print(math.ceil(3.6)) # return the lowest integer that is greater than the number
print(math.floor(3.6)) #return the greated integer that is lower than the given number
print(math.exp(2))# return e**x

4
60
2.0
24
4
3
7.38905609893065

There are whole lot of math function in python. Some of them requires special package file that must be included in the program to run them.

For Example : In the above examples except round and abs all other methods require math package to be imported to work properly

https://www.w3schools.com/python/module_math.asp
These are some other maths functions in python

## Strings

In python anything between single quotes or double quotes are consider as string
- Strings are immutable in python
- We can access the string characters using square brackets [index]

In [13]:
type("Hello world")

str

In [14]:
type('Goodbye world')

str

In [15]:
name = "abhishek"
challenge_name = "66daysofcode"
print(name, challenge_name)

abhishek 66daysofcode

In [16]:
# We can write a string having more than one line and assign it to a vairable using three opeaning single qoutes and three closing single quotes
long_string = '''
this is the long string 
o   o
  |
-----
'''
print(long_string)

this is the long string
o   o
  |
-----

In [17]:
# Concatenation of the string
first_name = "Abhishek"
last_name = "Bhatt"
full_name = first_name + last_name
print(full_name)

AbhishekBhatt

In [18]:
# We can directly concat strings inside print statement
print("Hello " + "World")

Hello World

In [19]:
# But we can not add or concat string with some other dataype. It will produce a type error
#print("hello" + 5)

In [20]:
# Escape sequences denoted by backslash(\)
print('It\'s a good weather today')

It's a good weather today

In [21]:
# We can access string characters using the index
a = "Selfish"
print(a[0])
print(a[2])
print(a[0], a[1], a[2], a[3], a[4], a[5], a[6])

S
l
S e l f i s h

In [22]:
# Strings can also have index in negative form
print(a[-1], a[-2], a[-3], a[-4])

h s i f

In [23]:
# We can also write starting index and end index seperated by colon(:) inside the square bracket to get the string between two index
# string_name[start : end : startover]
print(a[2:5])
#startover tell how many charcters we have to jump while illetraring the stirng
print(a[0:6:2])

lfi
Sli

In [24]:
# Some tricky things we can do in pythons with strings and index
print(a[1:])
print(a[:2])
print(a[::2])
print(a[:6:2])
print(a[:-1])
print(a[::-1])

elfish
Se
Slih
Sli
Selfis
hsifleS

In [25]:
my_str = "Abhishek07"
print(len(my_str))      #return the length of the string
print(my_str.isalnum()) #check if all char are numbers and alphabets
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string has only digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('3')) #test if string ends with a 3
print(my_str.endswith('7')) #test if string ends with a 7
print(my_str.startswith('A')) #test if string starts with A
print(my_str.lower())   #convert whole string to lower case
print(my_str.upper())   # convert whole string to uppercase
print(my_str.replace("07" , "03")) #replace all the occurence of a specified string

10
True
False
False
True
False
False
False
False
True
True
abhishek07
ABHISHEK07
Abhishek03

Some of other methods are listed here
https://www.w3schools.com/python/python_ref_string.asp

##### Typecasting
<br>
Changing one dataype to another is called typecasting

In [26]:
a = 10
print(type(a))
b = str(a)     # changed integer type to string
print(type(b))

c = 16.5
d = int(c)     # changed float ot integer
print("c = ", c, type(c), "d = ",d, type(d))

<class 'int'>
<class 'str'>
c =  16.5 <class 'float'> d =  16 <class 'int'>

## Loops

In [27]:
my_list = [1,2,3,4,5,6,98,7,8,45,2,1]
for i in my_list:
    print(i)

1
2
3
4
5
6
98
7
8
45
2
1

In [28]:
for i in range(0 , 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [30]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

## Functions
In python functions are also objects

In [48]:
def display():
    print("Hello")
display()
isinstance(display, object)

Hello

True

In [31]:
def hello():
    print("hello")

hello()

hello

In [32]:
def add(a,b):
    print(a+b)
add(2,3)

5

In [33]:
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [34]:
def print_penny(name,no=3):
    for i in range(no):
     print("knock knock {}".format(name))

In [35]:
print_penny("penny")

knock knock penny
knock knock penny
knock knock penny

In [36]:
print_penny("penny", 6)

knock knock penny
knock knock penny
knock knock penny
knock knock penny
knock knock penny
knock knock penny

In [37]:
x = 10                   #global variable
def display():
    x = 56               #local vaiable
    print(x)
display()

56

In [38]:
x = 10
def display():
    x += 5              # error -> cannot find x in local
    print(x)
display()

UnboundLocalError: local variable 'x' referenced before assignment

In [39]:
x=10
def display():
    global x
    x+=5
    print(x)
display()

15

In [40]:
def display(*args):      # here args will be referred as tuple
    print(type(args))
    print(args)
display(1,2,3, "Abhi")

<class 'tuple'>
(1, 2, 3, 'Abhi')

In [41]:
def display(a, b, *args):
    print(args)
display(1,2,3,"abhi") # packed arguments

(3, 'abhi')

In [42]:
def display(**kwargs):  # this indicates that kwargs in a dictionary
    print(kwargs)
display(name="Abhi", age="18")

{'name': 'Abhi', 'age': '18'}

In [43]:
#lambda functions -> short notation for writing python functions 
fun = lambda a: print(a)
fun(a)

10

In [44]:
fun = lambda a,b: print(a*b)
fun(2,3)

6

## Map function
This function takes 2 arguments. 1st - a function, 2nd - a iterable value like list.
<br>
- applies a given function to each element of iterable

In [45]:
a = [1,2,3,4,5]
def increment(x):
    return 2*x

list(map(increment,a))

[2, 4, 6, 8, 10]

In [49]:
a = [1,2,3,4,5]
list(map(lambda x:x*x,a))

[1, 4, 9, 16, 25]

## Filter Functions 
This function takes 2 arguments. 1st - a function, 2nd - a iterable value like list.
<br>
- it return only those values from the iterable for which the action function returns true

In [50]:
a = [1,2,3,4,5,6,7]
def only_odd(item):
    if item%2 != 0:
        return True
    else:
        return False

list(filter(only_odd, a))

[1, 3, 5, 7]

## Zip function
This function takes 2 or more than 2 arguments. All iterables(either same or differnt).
<br>
- It take 2 iterables and zip them together by grabing the first item of 1st iterable and first item of 2nd iterable and zipping them together in a tuple. Similarly goes for other items also

In [51]:
list_one = [1,2,3,4]
list_two = [5,6,7,8]
list(zip(list_one, list_two))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [53]:
list_one = [1,2,3,4]
tuple_one = (5,6,7,8)
list(zip(list_one, tuple_one))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [54]:
list_one = [1,2,3,4]
tuple_one = (5,6,7,8)
list_two = [9,10,11,12]
list(zip(list_one, tuple_one, list_two))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]